/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/files/results/
/files/tests/
files/maximal_self_complementary_strong_c3_codes/strong_res_7.txt
files/maximal_self_complementary_strong_c3_codes/strong_res_6.txt
files/maximal_self_complementary_strong_c3_codes/strong_res_5.txt
files/maximal_self_complementary_strong_c3_codes/strong_res_4.txt
files/maximal_self_complementary_strong_c3_codes/strong_res_3.txt
files/maximal_self_complementary_strong_c3_codes/strong_res_2.txt
files/maximal_self_complementary_strong_c3_codes/strong_res_1.txt
files/maximal_self_complementary_strong_c3_codes/res_9.txt
files/maximal_self_complementary_strong_c3_codes/res_8.txt
files/maximal_self_complementary_strong_c3_codes/res_7.txt
files/maximal_self_complementary_strong_c3_codes/res_6.txt
files/maximal_self_complementary_strong_c3_codes/res_5.txt
files/maximal_self_complementary_strong_c3_codes/res_4.txt
files/maximal_self_complementary_strong_c3_codes/res_3.txt
files/maximal_self_complementary_strong_c3_codes/res_2.txt
files/maximal_self_complementary_strong_c3_codes/res_12.txt
files/maximal_self_complementary_strong_c3_codes/res_11.txt
files/maximal_self_complementary_strong_c3_codes/res_10.txt
files/maximal_self_complementary_strong_c3_codes/res_1.txt
files/maximal_comma_free_strong_c3_codes/strong_res_7.txt
files/maximal_comma_free_strong_c3_codes/strong_res_6.txt
files/maximal_comma_free_strong_c3_codes/strong_res_5.txt
files/maximal_comma_free_strong_c3_codes/strong_res_4.txt
files/maximal_comma_free_strong_c3_codes/strong_res_3.txt
files/maximal_comma_free_strong_c3_codes/strong_res_2.txt
files/maximal_comma_free_strong_c3_codes/strong_res_1.txt
files/maximal_comma_free_strong_c3_codes/res_9.txt
files/maximal_comma_free_strong_c3_codes/res_8.txt
files/maximal_comma_free_strong_c3_codes/res_7.txt
files/maximal_comma_free_strong_c3_codes/res_6.txt
files/maximal_comma_free_strong_c3_codes/res_5.txt
files/maximal_comma_free_strong_c3_codes/res_4.txt
files/maximal_comma_free_strong_c3_codes/res_3.txt
files/maximal_comma_free_strong_c3_codes/res_2.txt
files/maximal_comma_free_strong_c3_codes/res_12.txt
files/maximal_comma_free_strong_c3_codes/res_11.txt
files/maximal_comma_free_strong_c3_codes/res_10.txt
files/maximal_comma_free_strong_c3_codes/res_1.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/strong_res_7.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/strong_res_6.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/strong_res_5.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/strong_res_4.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/strong_res_3.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/strong_res_2.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/strong_res_1.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_9.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_8.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_7.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_6.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_5.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_4.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_3.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_2.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_12.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_11.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_10.txt
files/maximal_comma_free_self_complementary_strong_c3_codes/res_1.txt
